{% include 'nav.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>address</title>
</head>

<body>
  <div class="container">
    {% if user.is_authenticated %}
    <div class="card mx-auto my-4" style="width:80%; border:1px solid black">
      <h5 class="card-header" style="background-color: rgb(44, 214, 200);">Shipping Address</h5>
      <div class="card-body">
        <form method="post" action="{% url 'placeOrder' p_id buyer_id %}">
          {% csrf_token %}
          <input class="form-control mb-2" type="text" placeholder="area" name="area">
          <input class="form-control mb-2" type="text" placeholder="city" name="city">
          <input class="form-control mb-2" type="text" placeholder="pincode" name="pin">
          <input class="form-control mb-2" type="text" placeholder="phone" name="phone">
          <input type='hidden' name='user' value="{{request.user}}">
          <button type="submit" class="btn btn-primary btn-block btn-sm">pay now</button>
        </form>
      </div>
    </div>
    {% else %}
    <div class="alert alert-danger my-4" role="alert">
      <h4 class="alert-heading">Login Required</h4>
      <p>please login or register to buy</p>
      <!-- Button trigger signup modal -->
      <button type="button" class="btn btn-primary  btn-sm mx-1 mt-0" data-toggle="modal"
        data-target="#exampleModalsignup">
        signup
      </button>
      <!-- Button trigger login modal -->
      <button type="button" class="btn btn-primary btn-sm mx-1 mt-0" data-toggle="modal"
        data-target="#exampleModallogin">
        login
      </button>


    </div>
    {% endif %}

  </div>

</body>

</html>